.infoDiv {
  display: flex;
  flex-direction: column;
  > p {
    color: white;
    font-size: 2.5rem;
    text-align: left;
    text-indent: 5rem;
    letter-spacing: 0.1rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .infoDiv > p {
    font-size: 1.4rem;
  }
}
