.infoDiv {
  display: flex;
  flex-direction: column;
}

.infoDiv > p {
  color: white;
  font-size: 2.5rem;
  text-align: left;
  text-indent: 5rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}

.buttonDiv {
  align-self: flex-end;
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

.buttonDiv p {
  color: white;
  font-size: 2.5rem;
  margin-left: 1rem;
}

.buttonDiv button {
  border-radius: 1rem;
  background-color: #ffffff;
  border: none;
  color: green;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  letter-spacing: 0.1rem;
  width: 28rem;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 0rem 0.5rem 0rem rgba(109, 108, 108, 0.7);
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonDiv button:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0.4rem;
  right: 0rem;
  transition: 0.5s;
}

.buttonDiv button:hover {
  padding-right: 2rem;
  padding-left: 0.5rem;
  color: white;
  background-color: green;
}

.buttonDiv button:hover:after {
  color: white;
  opacity: 1;
  right: 1rem;
}

@media screen and (max-width: 900px) {
 .infoDiv > p {
  font-size: 1.4rem;
 }
  .buttonDiv button span{
    font-size: 2rem;
  }
}