.container {
  > p {
    color: white;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    padding-top: 4rem;
    margin-bottom: 8rem;
  }
}
@media screen and (max-width: 900px) {
  .container {
    > p {
      font-size: 2rem;
    }
  }
}
