.trialContainer {
  width: 50%;
  height: 70%;
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

.grey {
  border: 4rem solid grey;
}

.red {
  border: 4rem solid #ff0000;
}

.green {
  border: 4rem solid green;
}

.trialContainer p {
  color: white;
  font-size: 14rem;
  font-family: 'Times New Roman', Times, serif;
  cursor: default;
}

.invisible {
  visibility: hidden;
}
