.trialContainer {
  width: 70%;
  height: 70%;
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  > p {
    color: white;
    font-size: 14rem;
    font-family: 'Times New Roman', Times, serif;
    cursor: default;
  }
}

.grey {
  border: 4rem solid grey;
}

.red {
  border: 4rem solid #ff0000;
}

.green {
  border: 4rem solid green;
}

.invisible {
  visibility: hidden;
}
@media screen and (max-width: 900px) {
  .trialContainer {
    height: 50%;
  }
}
