.warningDiv {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.warningDiv h3 {
  color: #f52020;
  font-size: 4rem;
}

.startDiv {
  display: flex;
  font-size: 3rem;
  align-items: center;
}

.startDiv button {
  font-size: 3rem;
  margin-right: 2rem;
  background-color: white;
  color: green;
  cursor: pointer;
  padding: 0.5rem 5rem;
  border-radius: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border: none;
}
.startDiv button:hover {
  background-color: green;
  color: white;
  transition: 0.2s;
  box-shadow: 0 0rem 0.4rem 0rem rgb(255, 255, 255);
}

.backButton {
  align-self: flex-start;
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  padding: 0.5rem;
  color: grey;
  background-color: black;
}
.backButton:hover {
  cursor: pointer;
  color: white;
}
